.app-body {
  margin-top: var(--app-header-height);
  margin-bottom: var(--spacing-medium);
}

.sub-text {
  font-size: var(--font-size-small);
}

.clickable {
  cursor: pointer;
}

.input-with-buttons {
  display: flex;
  width: 100%;

  &__input {
    flex: 1;
  }
  &__buttons {
    button,
    .app-button {
      margin-left: var(--spacing-small);
    }
  }
}

.buttons {
  button, .app-button {
    &:not(:first-child) {
      margin-left: var(--spacing-medium);
    }
  }
}
