:root {
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 4rem;

  --font-size-small: small;
  --font-size-xsmall: xx-small;

  --color-app-black: #000304;
  --color-app-gray: #90A4AE;
}
