:root {
  --app-color-red: #cc0001;
  --app-color-black: #000304;
  --app-color-white: #ffffff;
  --app-color-gray: #90A4AE;

  --app-bg-color: var(--app-color-red);
  --app-fg-color: var(--app-color-white);

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-mediumlarge: 1.5rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 4rem;

  --font-size-small: small;
  --font-size-xsmall: xx-small;
}
